/* From Uiverse.io by John-CFO */ 
.form {
    position: relative;
    display: block;
    padding: 2.2rem;
    max-width: 350px;
    background: linear-gradient(14deg, rgba(2,0,36, 0.8) 0%, rgba(24, 24, 65, 0.7) 66%, 
              rgb(20, 76, 99) 100%), radial-gradient(circle, rgba(2,0,36, 0.5) 0%, 
              rgba(32, 15, 53, 0.2) 65%, rgba(14, 29, 28, 0.9) 100%);
    border: 2px solid #fff;
    -webkit-box-shadow: rgba(0,212,255) 0px 0px 50px -15px;
    box-shadow: rgba(0,212,255) 0px 0px 50px -15px;
    overflow: hidden;
    z-index: +1;
  }
  
  /*------input and submit section-------*/
  
  .input-container {
    position: relative;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 2px solid #ffffff;
    margin: 8px 0;
    font-family: monospace;
  }
  
  .input-container input {
    background-color: #fff;
    padding: 6px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 250px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .input-mail:focus::placeholder {
    opacity: 0;
    transition: opacity .9s;
  }
  
  .input-pwd:focus::placeholder {
    opacity: 0;
    transition: opacity .9s;
  }
  
  .submit {
    position: relative;
    display: block;
    padding: 8px;
    background-color: #c0c0c0;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  .submit:hover {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-radius: 3.9px;
    box-shadow: 4px 5px 17px -4px #ffffff;
    cursor: pointer;
  }
  
  .submit:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 .5s 0s linear;
  }
  
  .submit::before {
    content: '';
    display: block;
    width: 0px;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  /*--------signup section---------*/
  
  .signup-link {
    color: #c0c0c0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    font-family: monospace;
  }
  
  .signup-link a {
    color: #fff;
    text-decoration: none;
  }
  
  .up:hover {
    text-decoration: underline;
  }
  
  
  /*--------header section-----------*/
  
  .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: monospace;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    animation-duration: 1.5s;
    overflow: hidden;
    transition: .12s;
  }
  
  .form-title span {
    animation: flickering 2s linear infinite both;
  }
  
  .title-2 {
    display: block;
    margin-top: -0.5rem;
    font-size: 2.1rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-text-stroke: #fff 0.1rem;
    letter-spacing: 0.2rem;
    color: transparent;
    position: relative;
    text-shadow: 0px 0px 16px #CECECE;
  }
  
  .title-2 span::before,
  .title-2 span::after {
    content: '—';
  }
  
  @keyframes flickering {
    0%,
    100% {
      opacity: 1;
    }
  
    41.99% {
      opacity: 1;
    }
  
    42% {
      opacity: 0;
    }
  
    43% {
      opacity: 0;
    }
  
    43.01% {
      opacity: 1;
    }
  
    47.99% {
      opacity: 1;
    }
  
    48% {
      opacity: 0;
    }
  
    49% {
      opacity: 0;
    }
  
    49.01% {
      opacity: 1;
    }
  }
  
  /*---------shooting stars-----------*/
  
  
  .bg-stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
    animation: animateBg 50s linear infinite;
  }
  
  @keyframes animateBg {
    0%,100% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.2);
    }
  }
  
  .star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
  }
  
  .star::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
  }
  
  @keyframes animate {
    0% {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
    }
  
    70% {
      opacity: 1;
    }
  
    100% {
      transform: rotate(315deg) translateX(-1000px);
      opacity: 0;
    }
  }
  
  .star:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
  }
  
  .star:nth-child(2) {
    top: 0;
    right: 100px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
  }
  
  .star:nth-child(3) {
    top: 0;
    right: 220px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
  }
  
  .star:nth-child(4) {
    top: 0;
    right: -220px;
    left: initial;
    animation-delay: 1.6s;
    animation-duration: 1.6s;
  }
  
  /* From Uiverse.io by elijahgummer */ 
  .text {
      translate: 2% -6%;
      letter-spacing: 0.01ch;
      color: hsl(0 0% calc(60% + (var(--active) * 26%)));
      z-index: 999;
      padding: 0 34px;
      font-weight: 600;
    }
    .text::before {
      content: "";
      position: absolute;
      top: -290%;
      left: 90%;
      rotate: -45deg;
      width: 5em;
      height: 1px;
      background: linear-gradient(90deg, #ffffff, transparent);
      animation: 4s shootingStar ease-in-out infinite;
      transition: 1s ease;
      z-index: -1;
      animation-delay: 1s;
      display: none;
    }
    .text::after {
      content: "";
      display: none;
      position: absolute;
      top: -290%;
      left: 10%;
      rotate: -45deg;
      width: 5em;
      height: 1px;
      background: linear-gradient(90deg, #ffffff, transparent);
      animation: 7s shootingStar ease-in-out infinite;
      animation-delay: 3s;
    }
    .space-button:hover .text::before,
    .space-button:hover .text::after {
      display: block;
    }
    .galaxy::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      opacity: 1;
      box-shadow:
        140px 20px #fff,
        425px 20px #fff,
        70px 120px #fff,
        20px 130px #fff,
        110px 80px #fff,
        280px 80px #fff,
        250px 350px #fff,
        280px 230px #fff,
        220px 190px #fff,
        450px 100px #fff,
        380px 80px #fff,
        520px 50px #fff;
      z-index: -1;
      transition: all 1.5s ease-in-out;
      animation: 1s glowing-stars linear alternate infinite;
      animation-delay: 0.4s;
    }
    .galaxy::after {
      content: "";
      position: absolute;
      top: -150px;
      left: -65px;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      opacity: 1;
      box-shadow:
        490px 330px #fff,
        420px 300px #fff,
        320px 280px #fff,
        380px 350px #fff,
        546px 170px #fff,
        420px 180px #fff,
        370px 150px #fff,
        200px 250px #fff,
        80px 20px #fff,
        190px 50px #fff,
        270px 20px #fff,
        120px 230px #fff,
        350px -1px #fff,
        150px 369px #fff;
      z-index: -1;
      transition: all 2s ease-in-out;
      animation: 1s glowing-stars linear alternate infinite;
      animation-delay: 0.8s;
    }
    .space-button {
      --cut: 0.1em;
      --active: 0;
      --bg: radial-gradient(
            120% 120% at 126% 126%,
            hsl(0 calc(var(--active) * 97%) 98% / calc(var(--active) * 0.9)) 40%,
            /* Changed hue to 0 for red */ transparent 50%
          )
          calc(100px - (var(--active) * 100px)) 0 / 100% 100% no-repeat,
        radial-gradient(
            120% 120% at 120% 120%,
            hsl(0 calc(var(--active) * 97%) 70% / calc(var(--active) * 1)) 30%,
            /* Changed hue to 0 for red */ transparent 70%
          )
          calc(100px - (var(--active) * 100px)) 0 / 100% 100% no-repeat,
        hsl(0 calc(var(--active) * 100%) calc(12% - (var(--active) * 8%))); /* Changed hue to 0 for red */
      background: var(--bg);
      font-size: 1.4rem;
      font-weight: 500;
      border: 0;
      cursor: pointer;
      padding: 0.9em 1.3em;
      display: flex;
      align-items: center;
      gap: 0.25em;
      white-space: nowrap;
      border-radius: 2rem;
      position: relative;
      box-shadow:
        0 0 calc(var(--active) * 6em) calc(var(--active) * 3em)
          hsla(12, 97%, 61%, 0.3),
        0 0.05em 0 0
          hsl(0, calc(var(--active) * 97%), calc((var(--active) * 50%) + 30%)) inset,
        0 -0.05em 0 0 hsl(0, calc(var(--active) * 97%), calc(var(--active) * 10%)) inset;
    
      transition:
        box-shadow 0.25s ease-out,
        scale 0.25s,
        background 0.25s;
      scale: calc(1 + (var(--active) * 0.1));
      transform-style: preserve-3d;
      perspective: 100vmin;
      overflow: hidden;
    }
    .space-button:active {
      scale: 1;
      --bg: radial-gradient(
            120% 120% at 126% 126%,
            hsl(245 calc(var(--active) * 97%) 98% / calc(var(--active) * 0.9)) 40%,
            transparent 50%
          )
          calc(100px - (var(--active) * 100px)) 0 / 100% 100% no-repeat,
        radial-gradient(
            120% 120% at 120% 120%,
            hsl(245 calc(var(--active) * 97%) 70% / calc(var(--active) * 1)) 30%,
            transparent 70%
          )
          calc(100px - (var(--active) * 100px)) 0 / 100% 100% no-repeat,
        hsl(245 calc(var(--active) * 100%) calc(12% - (var(--active) * 8%)));
      box-shadow:
        0 0 calc(var(--active) * 6em) calc(var(--active) * 3em)
          hsl(245 97% 61% / 0.5),
        0 0.05em 0 0
          hsl(245 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
        0 -0.05em 0 0 hsl(245 calc(var(--active) * 97%) calc(var(--active) * 10%)) inset;
      background: var(--bg);
    }
    
    /* Apply wobble animation on active button */
    .space-button:active .text {
      font-weight: 300;
      animation:
        wobble 0.6s ease-in-out infinite,
        blurMove 1.5s ease-in-out infinite;
      text-shadow:
        5px 5px 20px rgba(255, 255, 255, 0.8),
        10px 10px 30px rgba(255, 0, 255, 0.6);
    }
    
    /* Wobble animation */
    @keyframes wobble {
      0%,
      100% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(-2px, -10px);
      }
      50% {
        transform: translate(2px, 3px);
      }
      75% {
        transform: translate(-1px, 5px);
      }
    }
    
    /* Blur move animation */
    @keyframes blurMove {
      0%,
      100% {
        text-shadow:
          5px 5px 20px rgba(255, 255, 255, 0.8),
          10px 10px 30px rgba(255, 0, 255, 0.6);
      }
      50% {
        filter: blur(1px);
        text-shadow:
          10px 10px 25px rgba(255, 255, 255, 0.8),
          15px 15px 35px rgba(255, 0, 255, 0.6);
      }
    }
    
    .galaxy:active::before {
      animation: circling 2s linear infinite; /* Animation for circling effect */
    }
    .galaxy:active::after {
      animation: circling 1.5s linear infinite; /* Animation for circling effect */
    }
    
    @keyframes circling {
      0% {
        transform: translate(-10px, -20%) rotate(0deg);
      }
      100% {
        transform: translate(-10px, -20%) rotate(200deg);
      }
    }
    .galaxy {
      position: absolute;
      width: 100%;
      aspect-ratio: 1;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      overflow: hidden;
      opacity: var(--active);
      transition: opacity 0.25s;
    }
    
    @-webkit-keyframes move-x {
      0% {
        translate: -100px 0;
      }
      100% {
        translate: 100px 0;
      }
    }
    @keyframes move-x {
      0% {
        translate: -100px 0;
      }
      100% {
        translate: 100px 0;
      }
    }
    @-webkit-keyframes move-y {
      0% {
        transform: translate(0, -50px);
      }
      100% {
        transform: translate(0, 50px);
      }
    }
    @keyframes move-y {
      0% {
        transform: translate(0, -50px);
      }
      100% {
        transform: translate(0, 50px);
      }
    }
    
    .backdrop {
      position: absolute;
      inset: var(--cut);
      background: var(--bg);
      border-radius: 2rem;
      transition: background 0.25s;
    }
    
    @supports (selector(:has(:is(+ *)))) {
      body:has(button:is(:hover, :focus-visible)) {
        --active: 1;
        --play-state: running;
      }
      .bodydrop {
        display: none;
      }
    }
    
    .space-button:is(:hover, :focus-visible) ~ :is(.bodydrop, .particle-pen) {
      --active: 1;
      --play-state: running;
    }
    
    .space-button:is(:hover, :focus-visible) {
      --active: 1;
      --play-state: running;
    }
    
    .galaxy-button {
      position: relative;
    }
    
    /* ANIMATIONS */
    @keyframes shootingStar {
      0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
      }
      50% {
        transform: translateX(-55em) translateY(0);
        opacity: 1;
      }
      70% {
        transform: translateX(-70em) translateY(0);
        opacity: 0;
      }
      100% {
        transform: translateX(0) translateY(0);
        opacity: 0;
      }
    }
    
    @keyframes glowing-stars {
      0% {
        opacity: 0;
      }
    
      50% {
        opacity: 1;
      }
    
      100% {
        opacity: 0;
      }
    }
    
    .galaxy-button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Esto centrará verticalmente si el contenedor tiene toda la altura de la ventana */
    }
    
  
